.foodName {
  font-size: 17px;
  font-weight: 600;
  word-break: break-word;
  font-family: sans-serif;
  color: black;
  margin-top: 14px;
  line-height: 17px;
}
.foodType {
  color: #686b78;
  font-size: 14px;
  margin-top: 4px;
  font-family: sans-serif;
  line-height: 14px;
}
.deliveryOfferAndTime {
  margin-top: 12px;
  font-size: 12px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #535665;
  display: flex;
  font-family: sans-serif;
}
.deliveryTime {
  text-transform: uppercase;
}
.deliveryOffer {
  text-transform: uppercase;
}
.cartItemBase {
  padding-left: 10px;
  height: 100%;
  position: relative;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-right: 10px;
  width: 21%;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.discountOffer {
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  color: #8a584b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-family: sans-serif;
}
.addToCartWrapper {
  background-color: orangered;
  width: 50%;
  border-radius: 4px;
  opacity: 0.9;
}
.addToCart {
  padding: 9px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.RemoveWrapper {
  border: 1px solid #000;
  width: 50%;
  border-radius: 4px;
  margin-left: 10px;
}

.deleteItem {
  padding: 8px;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.cartItemBase:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
